name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine

    - name: Build package
      run: python -m build

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

  release-notes:
    needs: release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0  # Fetch all history for all tags and branches
    - name: Generate release notes
      uses: actions/github-script@v8
      with:
        script: |
          const { data: tags } = await github.rest.repos.listTags({
            owner: context.repo.owner,
            repo: context.repo.repo,
          });
          const latestTag = tags[0].name;
          const { data: releases } = await github.rest.repos.listReleases({
            owner: context.repo.owner,
            repo: context.repo.repo,
          });
          const previousTag = releases[0]?.tag_name || '';
          
          const { data: commits } = await github.rest.repos.compareCommits({
            owner: context.repo.owner,
            repo: context.repo.repo,
            base: previousTag,
            head: latestTag,
          });
          
          let releaseNotes = `## What's Changed\n\n`;
          commits.commits.forEach(commit => {
            const message = commit.commit.message.split('\n')[0];
            releaseNotes += `- ${message} (@${commit.author.login})\n`;
          });
          
          await github.rest.repos.createRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            tag_name: latestTag,
            name: latestTag,
            body: releaseNotes,
            draft: false,
            prerelease: false,
          });